/* components/ImageSlider.module.css */

.sliderContainer {
  position: relative;
}

.sliderImages {
  display: flex;
  width: 400%;
  transition: transform 1s ease-in-out;
}

.sliderImage {
  flex: 1;
  height: 100vh;
  background-size: cover;
  background-position: center;
  transition: opacity 1s ease-in-out;
}

.dotsContainer {
  position: absolute;
  top: 50%;
  left: 70px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: #ccc;
  border-radius: 50%;
  margin: 5px 0;
  cursor: pointer;
}

.dot.active {
  background-color: #333;
}
