/* components/ImageSlider.module.css */

.sliderContainer {
  position: relative;
  animation: fadeIn 1s ease-in forwards;
  transition: background-color 0.5s ease;
}

.sliderImages {
  display: flex;
  transition: transform 1s ease-in-out;
}

.sliderImage {
  flex: 1;
  height: 100vh;
  background-size: cover;
  background-position: center;
  transition: opacity 1s ease-in-out;
}

.dotsContainer {
  position: absolute;
  top: 48%;
  left: 70px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: #ccc;
  border-radius: 50%;
  margin: 5px 0;
  cursor: pointer;
}

.dot.active {
  background-color: #333;
}

.logoWrapper {
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  text-align: center;
}
.logoWrapper h1 {
  font-weight: 300;
  font-size: 35px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.logo {
  display: block;
  margin: 0 auto;
}

.icons {
  position: absolute;
  top: 48%;
  right: 70px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.iconWrapper {
  cursor: pointer;
}

.content {
  position: absolute;
  width: 100%;
  height: 200px;
  background-color: rgba(28, 28, 28, 0.8);
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
}

.contentTitle {
  width: 50%;
  text-align: center;
  font-size: 46px;
  font-weight: 300;
  text-transform: uppercase;
}

.contentMainPageTitle {
  width: 50%;
  text-align: center;
  font-size: 30px;
  font-weight: 300;
  text-transform: uppercase;
}

.contentTextWrapper {
  width: 50%;
}

.contentText {
  width: 70%;
  font-weight: 300;
  word-wrap: break-word;
  font-size: 20px;
}

.contentMainPageText {
  font-size: 20px;
  text-align: center;
}

@media only screen and (max-width: 1440px) {
  .contentText {
    width: 90%;
  }
  .contentTitle {
    font-size: 40px;
  }
  .contentMainPageTitle {
    font-size: 20px;
  }
  .content {
    height: 150px;
  }
  .contentMainPageText {
    font-size: 16px;
  }
}

@media only screen and (min-width: 960px) {
  .iconWrapper svg {
    transition: transform 0.3s ease-in-out;
  }
  .iconWrapper:hover svg {
    transform: scale(120%);
  }
}

@media (max-width: 960px) {
  .sliderImage {
    height: 100%;
    min-height: 800px;
  }

  .logo {
    width: 130px;
    height: auto;
  }

  .dot {
    width: 7px;
    height: 7px;
  }

  .dotsContainer {
    left: 20px;
    top: 38%;
  }

  .icons {
    top: 22%;
    right: 40px;
    transform: translateX(50%);
  }

  .iconWrapper svg {
    width: 70px;
    height: 70px;
  }

  .iconWrapper:nth-child(2) svg {
    width: 60px;
    height: 60px;
  }

  .iconWrapper:nth-child(3) svg {
    width: 60px;
    height: 60px;
  }

  .iconWrapper:nth-child(4) svg {
    width: 60px;
    height: 60px;
  }

  .content {
    flex-direction: column;
    justify-content: center;
    height: 300px;
  }

  .contentText {
    width: 100%;
    font-size: 16px;
    text-align: center;
  }

  .contentTextWrapper {
    width: 95%;
  }

  .contentTitle {
    font-size: 30px;
    padding: 20px 0;
    width: 100%;
  }

  .contentMainPageTitle {
    font-size: 20px;
    padding-bottom: 30px;
    width: 100%;
  }
  .contentMainPageText {
    font-size: 16px;
  }
  .logoWrapper {
    top: 38%;
    width: 60%;
  }
  .logoWrapper h1 {
    font-size: 16px;
  }
}

.animated {
  animation: wobble 2s ease infinite;
}

@keyframes wobble {
  0%,
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }

  5% {
    -webkit-transform: translateX(-1px) rotate(-10deg);
    transform: translateX(-1px) rotate(-10deg);
  }

  10% {
    -webkit-transform: translateX(calc(1px / 2)) rotate(10deg);
    transform: translateX(calc(1px / 2)) rotate(10deg);
  }

  15% {
    -webkit-transform: translateX(calc(-1px / 2)) rotate(calc(-10deg / 1.8));
    transform: translateX(calc(-1px / 2)) rotate(calc(-10deg / 1.8));
  }

  20% {
    -webkit-transform: translateX(calc(1px / 3.3)) rotate(calc(10deg / 3));
    transform: translateX(calc(1px / 3.3)) rotate(calc(10deg / 3));
  }

  25% {
    -webkit-transform: translateX(calc(-1px / 5.5)) rotate(calc(-10deg / 5));
    transform: translateX(calc(-1px / 5.5)) rotate(calc(-10deg / 5));
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
