.main {
  background-color: #000;
  color: #fff;
}

.desc {
  background-color: #fff;
  color: #000;
  padding: 112px 7% 125px 7%;
  display: flex;
  justify-content: space-around;
}

.mainGroups {
  width: 55%;
}

.secondGroups {
  width: 45%;
}

.title {
  font-size: 46px;
  font-weight: 300;
  text-transform: uppercase;
  background-color: #fff;
  color: #000;
  text-align: center;
  padding: 100px 0 0 0;
}

.group {
  max-width: 694px;
  margin-bottom: 60px;
}

.groupText {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 20px;
}

.img {
  width: 100%;
  height: auto;
}

.map {
  background-color: lightgrey;
  overflow: hidden;
  width: 698px;
  height: 460px;
}

.courseTitle {
  font-size: 25px;
  margin-bottom: 10px;
}

.btn {
  display: inline-block;
  text-align: center;
  line-height: 36px;
  width: 163px;
  color: #fff;
  height: 36px;
  background-color: #16b8f3;
  border: none;
  text-transform: uppercase;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
}

@media only screen and (max-width: 1500px) {

  .group {
    max-width: 470px;
  }
}

@media only screen and (max-width: 960px) {
  .desc {
    flex-direction: column;
    padding: 112px 5% 125px 5%;
  }
  .mainGroups {
    width: 100%;
    margin-bottom: 100px;
  }
  .secondGroups {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
  }
  .group {
    max-width: 100%;
  }
  .map {
    width: 100%;
    height: 250px;
    margin-top: 60px;
  }
}
