.fixedBtn {
  background-color: #16b8f3;
  width: 100%;
  height: 50px;
  line-height: 55px;
  font-size: 20px;
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
}

.fixedForms {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.fixedForm {
  margin-bottom: 30px;
  width: 30%;
}

.customFormTitle {
  text-align: center;
  font-weight: 300;
}

.red {
  color: red;
}

.customForm {
  margin-top: 70px;
}

.input {
  width: 100%;
  height: 60px;
  text-align: center;
  border: 1px solid grey;
  border-radius: 5px;
  font-size: 40px;
  margin: 20px 0;
}

@media only screen and (min-width: 960px) {
  .fixedBtn:hover {
    background-color: #1c98c5;
  }
}

@media only screen and (max-width: 960px) {
  .fixedForm {
    width: 45%;
  }
  .fixedBtn {
    font-size: 18px;
  }
}
