@font-face {
  font-family: "Brother 1816";
  src: local("Brother 1816 Light"), local("Brother-1816-Light"),
    url("../fonts/Brother1816-Light.woff2") format("woff2"),
    url("../fonts/Brother1816-Light.woff") format("woff"),
    url("../fonts/Brother1816-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Brother 1816";
  src: local("Brother 1816 Bold"), local("Brother-1816-Bold"),
    url("../fonts/Brother1816-Bold.woff2") format("woff2"),
    url("../fonts/Brother1816-Bold.woff") format("woff"),
    url("../fonts/Brother1816-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

* {
  font-family: "Brother 1816";
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

.map-container {
  height: 100%;
  width: 100%;
}
