.main {
  background-color: #000;
  color: #fff;
}

.desc {
  background-color: #fff;
  padding: 100px 15%;
}
.checkoutForm {
  color: #000;
}

.title {
  text-align: center;
  font-size: 46px;
  margin-bottom: 50px;
}

@media only screen and (max-width: 960px) {
  .desc {
    background-color: #fff;
    padding: 100px 5%;
  }
 }