.meetings {
  background-color: #fff;
}

.meeting {
  display: flex;
}

.desc {
  width: 55%;
  padding: 4% 10%;
}

.image {
  width: 45%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.meetingsLogoTitle {
  text-transform: uppercase;
  margin-bottom: 32px;
}

.regularText {
  color: #e9e9e9;
  font-size: 81px;
  font-weight: 700;
  word-wrap: break-word;
}

.meetingsTextTitle {
  color: black;
  font-size: 46px;
  font-weight: 700;
  word-wrap: break-word;
}

.weekTitle {
  text-transform: uppercase;
  color: black;
  font-size: 46px;
  font-weight: 300;
  word-wrap: break-word;
  margin-bottom: 20px;
}

.weekDesc {
  color: black;
  font-size: 12px;
  font-weight: 300;
  line-height: 18px;
  word-wrap: break-word;
  margin-bottom: 23px;
}

.btn {
  display: inline-block;
  text-align: center;
  line-height: 36px;
  width: 163px;
  color: #fff;
  height: 36px;
  background-color: #16b8f3;
  border: none;
  text-transform: uppercase;
  font-size: 12px;
  cursor: pointer;
  text-decoration: none;
}

.sundayImage {
  background-image: url("../../assets/godlight.jpeg");
}

.wednesdayImage {
  background-image: url("../../assets/boat.jpeg");
}

.childrenImage {
  background-image: url("../../assets/orangecloud.jpeg");
}

.youngImage {
  background-image: url("../../assets/godlight.jpeg");
}

.menImage {
  background-image: url("../../assets/boat.jpeg");
}

.womenImage {
  background-image: url("../../assets/orangecloud.jpeg");
}

.eventImage {
  background-image: url("../../assets/godlight.jpeg");
}

@media only screen and (max-width: 1440px) {
  .regularText {
    font-size: 70px;
  }
  .desc {
    padding: 4% 5%;
  }
}

@media only screen and (max-width: 960px) {
  .regularText {
    font-size: 55px;
  }
  .image {
    display: none;
  }
  .desc {
    width: 100%;
    padding: 10% 5%;
  }
  .btn {
    width: 100%;
    height: 45px;
    line-height: 45px;
  }
}